.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.login-card {
    width: 300px;
    padding: 20px;
    text-align: center;
    }

.full-width {
    width: 100%;
}

.button-container {
    margin-top: 20px;
}
