.mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 5px;
}

a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 550px) {
    .button-container {
        gap: 10px;
    }
}